@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-gray-4);
}

a {
    text-decoration: none;
}

:root {
    --color-accent: #00B861;
    --color-gray-1: #F1F1F1;
    --color-gray-2: #C8C8C8;
    --color-gray-3: #9D9D9D;
    --color-gray-4: #4A4A4A;
}

.bg-accent {
    background: var(--color-accent);
}

.bg-gray-1 {
    background: var(--color-gray-1);
}

.bg-gray-2 {
    background: var(--color-gray-2);
}

.bg-gray-3 {
    background: var(--color-gray-3);
}

.bg-gray-4 {
    background: var(--color-gray-4);
}

.accent {
    color: var(--color-accent);
}

.gray-1 {
    color: var(--color-gray-1);
}

.gray-2 {
    color: var(--color-gray-2);
}

.gray-3 {
    color: var(--color-gray-3);
}

.gray-4 {
    color: var(--color-gray-4);
}

.nav {
    padding: 5px 12px;
}

.nav:hover,
.nav.active {
    background: #fff;
    color: var(--color-accent);
    border-radius: 100px;
}

