<div id="site-nav">
  <div class="header-container">
    <a class="logo" href="/"><img src="<%- config.logo.desktop %>"/></a>
    <!--
    <img class="search" src="<%- config.icon.search %>" />
    <input class="search-flex" placeholder="Search docs" type="text" />
    -->
    <span class="search-flex"></span>
    <a class="header-links" href="https://graph.cool/" target="_blank">Website</a>
    <a href="https://www.github.com/graphcool" target="_blank"><img class="github" src="<%- config.icon.github %>" /></a>
    <a class="header-links" href="https://github.com/graphcool/" target="_blank">Github</a>
  </div>
</div>
